* {
  padding: 0;
  margin: 0;
}

p,
div,
span {
  font-family: "Montserrat" !important;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Open Sans";
}

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
  margin: 5px 0;
  // border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;

  // border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
